@import "../utils/functions";
@import "../utils/mixins";
@import "../utils/variables";

.cover {
  height: 80vh;
  background-image: url("../../assets/cover/cover.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &__content {
    height: 80vh;
    align-content: center;
  }
}

.slogan {
  color: #ffd15b;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  width: 50%;
  line-height: 50px;
}

.container {
  &__slogan {
    display: flex;
    justify-content: center;
  }
}