@import "../utils/functions";
@import "../utils/mixins";
@import "../utils/variables";

.container {
  &__nav {
    display: flex;
    padding: 1rem 2rem;
    width: 100%;
    justify-content: space-between;
    &__menu {
      font-size: 12px;
      width: 50%;
      align-self: center;
    }
    &__block {
      display: flex;
      width: 30%;
      gap: 2rem;
    }
    &__subtitle {
      align-self: center;
    }
  }
}
