@import "../utils/functions";
@import "../utils/mixins";
@import "../utils/variables";

.dropdown {
  &__multiselect {
    width: 200px;
    border-radius: 10px;
    font-family: sans-serif;
    cursor: pointer;
    background: $background__color__second;
    padding: 15px;
    &:hover {
      background-color: $background__color__tertiairy;
    }
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__arrow {
  }
  &__menu {
    list-style-type: none;
    width: 100%;
    border-radius: 0;
    box-shadow: 0 2px 5px $color__third;
    height: 0px;
    transition: height 300ms ease-in-out;
    cursor: pointer;
    overflow-y: hidden;
    background: $background__color__second;
    position: absolute;
    left: 0;
    &__items {
      overflow-y: scroll;
      height: 300px;
    }
    li {
      padding: 1em;
      transition: background 300ms ease-in;
      opacity: 0;
      transition: opacity 400ms ease-in-out;
      &:hover {
        background-color: $background__color__tertiairy;
      }
    }
    &__searchbar {
      &__input {
        &__container {
          text-align: center;
          border-radius: 0;
          padding: 0.5rem 0 0 0;
          input {
            width: 80%;
            font-size: 12px;
          }
        }
      }
    }
  }
  &__selectedList {
    &__container {
      position: relative;
      width: 100%;
      height: 100%;
      inset: 0;
      border-radius: inherit;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      overflow: auto;
      padding: 0.5em;
      &:hover {
        //background-color: $background__color__tertiairy;
      }
    }
  }
  &__selectedItem {
    position: relative;
    border: 2px solid $background__color__tertiairy;
    padding: 0.1em 0 0.1em 0.75em;
    height: 35px;
    border-radius: inherit;
    margin: 0.25em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: zoomIn 350ms ease-in-out;
  }
  .zoomOut {
    animation: zoomOut 400ms ease-in-out;
  }
}

.show {
  .dropdown {
    &__menu {
      height: 350px;
      padding: 0.5rem 0;
      width: 100%;
      li {
        opacity: 1;
      }
    }
    &__selectedList {
      &__container {
        //background-color: $background__color__tertiairy;
      }
    }
  }
}

li.selectedItem {
  background: $background__color__tertiairy;
  display: flex;
  justify-content: space-between;
}

#selected {
  &__tags {
    &__container {
      p {
        background: $background__color__tertiairy;
        display: flex;
        justify-content: space-between;
      }
    } 
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: $background__color__second;
}

::-webkit-scrollbar-thumb {
  background-color: $background__color__tertiairy;
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
