/*============================================== Background =============================================*/
$background__color__primary: #EDEDED;
$background__color__second: #FFFFFF;
$background__color__tertiairy: #FFD15B;
$background__color__fourth: #1B1B1B;

/*============================================== Color =============================================*/
$ccolor__primary:#1B1B1B;
$ccolor__second: #7A7A7A;
$color__third: #FFFFFF;
$ccolor__four: #FFD15B;