/*============================================== Background =============================================*/
/*============================================== Color =============================================*/
* {
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: #E5E5E5;
}

h1 {
  font-family: "Anton", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 45px;
  line-height: 66px;
}

h2 {
  font-family: "Anton", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 31px;
}

h3 {
  font-family: "Anton", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

h4 {
  font-family: "Manrope", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}

p {
  font-family: "Manrope", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
}

.logo {
  height: 50px;
  font-family: "Anton", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 25px;
}

/*============================================== Background =============================================*/
/*============================================== Color =============================================*/
/*============================================== Background =============================================*/
/*============================================== Color =============================================*/
/*============================================== Background =============================================*/
/*============================================== Color =============================================*/
.container__main__card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 5rem;
}

.card {
  border-radius: 25px;
  width: 100%;
  background-color: #ffffff;
  height: 800px;
}
.card img {
  width: 100%;
  border-radius: 25px 25px 0 0;
  height: 30%;
  object-fit: cover;
}
.card__description {
  padding: 1rem;
  height: 70%;
}

/*============================================== Background =============================================*/
/*============================================== Color =============================================*/
/*============================================== Background =============================================*/
/*============================================== Color =============================================*/
.container__drop__down__menu {
  position: relative;
  display: inline-block;
}
.container__drop__down__menu__search {
  position: relative;
  padding: 8px;
}
.container__drop__down__menu__content {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.drop__down__button {
  background-color: #FFFFFF;
  color: #1b1b1b;
  padding: 1rem;
  width: 250px;
  border-radius: 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.drop__down__button:hover, .drop__down__button:focus {
  background-color: #FFD15B;
}

/*============================================== Background =============================================*/
/*============================================== Color =============================================*/
/*============================================== Background =============================================*/
/*============================================== Color =============================================*/
/*============================================== Background =============================================*/
/*============================================== Color =============================================*/
/*============================================== Background =============================================*/
/*============================================== Color =============================================*/
.cover {
  height: 50vh;
  background-image: url("../../assets/cover/cover.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*============================================== Background =============================================*/
/*============================================== Color =============================================*/
/*============================================== Background =============================================*/
/*============================================== Color =============================================*/
/*============================================== Background =============================================*/
/*============================================== Color =============================================*/

/*# sourceMappingURL=styles.css.map */
